@charset "UTF-8";

/* 横スライド */
.wrapper {
  width: 100%;
  min-width: 1320px;
}

/* flexと一緒に使えない */
.pc-mode {
  display: block;
}

.sp-mode {
  display: none;
}

@media screen and (max-width:590px) {
  .wrapper {
    min-width: 350px;
  }

  /* flexと一緒に使えない */
  .sp-mode {
    display: block;
  }

  .pc-mode {
    display: none;
  }

}



body {
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Zen+Kaku+Gothic", "Noto Sans JP", sans-serif;
}

/* ヘッダー */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  font-size: 16px;
}

header li+li {
  margin-left: 1%;
}

header ul img {
  width: 300px;
}

header {
  background-color: white;
  margin: 20px 0px
}

/* SPヘッダー */
@media screen and (max-width:590px) {
  header {
    width: 100%;
    padding: 2vw;

  }

  header ul {
    font-size: 16px;
    display: grid;
    height: 200px;
    margin-top: 1%;
    font-size: 16px;
    justify-content: normal;
  }

  header ul img {
    width: 100px;
  }

}

/* firstsection */
.topbartext-h2 {
  background-color: #222a51;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.first-mainfield {
  display: flex;

}

.first-textfield h2 {
  background-color: white;
  color: #ff9200;
  font-size: 40px;
  margin-top: 30px;
  padding: 10px 30px;

}

.first-mainfield {
  background: linear-gradient(59deg, #1d4f9c 0%, #1d4f9c 56%, white 29%, white 100%);
}

.first-mainfieldimg img {
  width: 300px;
}

h1 {
  font-size: 50px;
  color: #fffc00;
  margin-left: 30px;
  margin: 30px;
}

.imgfield {
  display: flex;
  justify-content: space-around;

}

.imgfield img {
  width: 200px;
}

.first-subtext {
  margin-left: 30px;
}

.first-subtext ul li {
  border: solid 1px white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  width: 650px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.first-subtext ul li+li {
  margin-top: 10px;
}

.first-checkimg img {
  width: 30px;
}


/* troubleお困りではありませんか？ */
.troublelist img {
  width: 30px;
}

.troublelist ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.troublelist ul li {
  display: flex;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 0;
}

.troublefield {
  background-image: url(img/trouble.jpg);
  background-size: 600px;
  background-repeat: no-repeat;
  background: contain;
  background-position: bottom -87px right -56px;
  min-height: 400px;
}

.trouble-voice {
  display: flex;
  justify-content: center;

}

.voicefield ul {
  display: flex;
  justify-content: center;
  min-width: 1320px;
}

.voicefield ul li {
  background-image: url(img/voice-bace.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background: contain;
  background-position: center;
  height: 400px;
  width: 420px;
}


.voicefield-company p:nth-of-type(1) {
  font-size: 16px;
  text-align: center;
  padding-top: 32px;
  color: white;
}

.voicefield-company p:nth-of-type(2) {
  font-size: 24px;

  text-align: center;
  color: white;
  padding: 20px 0;
}

.voicefield-text {
  font-size: 16px;
  padding: 10px;
  color: #222a51;
}

.voicefield-text {
  padding: 48px;
  margin-top: 22px;
  font-size: 20px;
}

.voicefield-bottom {
  font-size: 20px;
  background-color: #222a51;
  color: #fffc00;
  padding: 20px 0;

}

.voicefield-bottom p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}


/* h2title */
.subtitle h2 {
  font-size: 30px;
  text-align: center;
  color: #1d4f9c;
}

.position.subtitle {
  padding: 80px 0;
}


/* フォーム帯 */
.form {
  background-color: #bcdffe;
}

.form-h2 {
  padding: 40px;
}

.form h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 0255, 255, 0.3);
  background: linear-gradient(transparent 60%, #ff6 60%);
  width: fit-content;
  margin: 0 auto;
}



.form-flexbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.form-tel {
  border: solid 1px #333;
  text-align: center;
}

.form-tel p:nth-of-type(1) {
  background-color: #222a51;
  font-size: 25px;
  color: white;
  padding: 20px;
}

.form-tel p:nth-of-type(2) {
  font-size: 35px;
  margin-top: 10px;
}

.form-tel p:nth-of-type(3) {
  font-size: 16px;
  margin-bottom: 20px;
}

.form-document {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-document p:nth-of-type(1) {
  background-color: #fb4a42;
  color: white;
  padding: 10px;
  font-size: 25px;
  border-radius: 50px;
}

.form-document p:nth-of-type(2) {
  font-size: 25px;
  padding: 10px 0;


}

.form-button {
  margin: 0 auto;
}



/* フォームボタン全体 */
/* buttonはボタンの見た目 */
/* form-buttonはボタンの位置 */
.button {
  font-size: 18px;
  font-weight: bold;
  /* 文字の太さ */
  text-align: center;
  letter-spacing: 0.1em;
  width: 340px;
  color: #fff;
  /* 文字色 */
  position: relative;
  display: block;
  text-decoration: none;
  padding: 1em;
  border-radius: 100vh;
  /* ボタン幅 */
  max-width: 550px;
  /* 最低ボタン幅 */
  transition: 0.3s;
  background: #F99292;
  box-shadow: 2px 2px 3px -2px #555,
    2px 2px 3px rgba(255, 255, 255, 0.8) inset;
  /* お問い合わせボタン色 */

}

/* ボタンの見た目 */
.button._form {
  font-size: 16px;
  width: 50%;
}

.button::before {
  content: '';
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.button .button-text {
  line-height: 1;
  display: inline-block;
  padding: 0.2em 1.5em;
  letter-spacing: 0;
  background: #fff;
  /* 下文字背景色 */
  font-size: 90%;
  /* 下文字サイズ */
  border-radius: 5px;
  /* お問い合わせの間のマージン */
  margin-top: 10px;
  color: #F99292;
  /* 下文字色 */
}

/* マウスオーバーした際のデザイン */
.button:hover {
  transform: scale(1.05);
  background-color: #FB7D79;
  transition: 0.4s;
  box-shadow: 0px 0px 15px -5px#e7a4a4;
  box-shadow: 2px 2px 3px -2px #555,
    2px 2px 3px rgba(255, 255, 255, 0.8) inset;
  /* お問い合わせボタン色 */

}

.button .button-text:hover {
  color: #FB7D79;
  transition: 0.4s;
  /* 下文字色 */
}

/* ボタンSP */
@media screen and (max-width:590px) {
  .button {
    font-size: 16px;
    width: 100%;
    margin: 7px 0;
  }
}





/*footer*/
footer {
  text-align: center;
  font-size: 1.5rem;
  height: 100%;
  padding: 10px;
}


/* footersp */
@media screen and (max-width:590px) {
  footer {
    font-size: 10px;
  }
}




/* フォーム画面遷移場所 */
.uistep {
  margin: 50px 0;
}

.uistep ol {
  display: flex;
  position: relative;
  padding: 0 0 26px;
}

.uistep li {
  display: block;
  position: relative;
  padding-bottom: 6px;
  flex-basis: 100%;
  font-size: 16px;
  text-align: center;
}

.uistep li::before,
.uistep li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  margin: auto;
  height: 5px;
}

.uistep li::before {
  left: 0;
  width: 100%;
}

.uistep li::after {
  right: 0;
  width: 100%;
}

.uistep li:first-child::before {
  left: 50%;
  width: 100%;
}

.uistep li:last-child::after {
  right: 50%;
  width: 100%;
}

.uistep li:first-child::after,
.uistep li:last-child::before {
  width: 0;
}

.uistep li[aria-current="step"]::before,
.uistep li[aria-current="step"]:not(:first-child)::after,
.uistep li[aria-current="step"]~li::before,
.uistep li[aria-current="step"]~li::after {
  width: 50%;
}

.uistep li::before,
.uistep li::after,
.uistep li[aria-current="step"]:last-child::after {
  z-index: 2;
  background-color: #eb6100;
}

.uistep li[aria-current="step"]~li::before,
.uistep li[aria-current="step"]~li::after,
.uistep li+li[aria-current="step"]::after,
.uistep li[aria-current="step"]:first-child::before,
.uistep li[aria-current="step"]:first-child~li::before {
  z-index: 1;
  background-color: #ddd;
}

.uistep li .label {
  color: #eb6100;
  margin-left: 16px;

}

.uistep li[aria-current="step"] .label {
  font-style: normal;
  font-weight: bold;
}

.uistep li[aria-current="step"]~li .label {
  font-weight: normal;
  color: inherit;
}

.uistep li .label::before,
.uistep li .label::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin: auto;
}

.uistep li .label::before {
  bottom: -18px;
  z-index: 4;
  border: 3px solid #fff;
  border-top: none;
  border-left: none;
  width: 8px;
  height: 13px;
  transform: translateX(-4px) rotate(43deg);
}

.uistep li .label::after {
  bottom: -26px;
  z-index: 3;
  width: 26px;
  height: 26px;
  background-color: #eb6100;
  transform: translateX(-50%) rotate(0deg);
}

.uistep li[aria-current="step"] .label::before,
.uistep li[aria-current="step"]~li .label::before {
  top: auto;
  left: 50%;
  bottom: -19px;
  border: none;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transform: translateX(-50%) rotate(0deg);
}

.uistep li[aria-current="step"]~li .label::after {
  background-color: #ddd;
}

.uistep li:last-child .label::before,
.uistep li:last-child .label::after {
  left: auto;
  right: 50%;
  transform: translateX(50%) rotate(0deg);
}


/* 登録フォーム */
.regist {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.regist h3 {
  margin-top: 4vw;
  padding-bottom: 2vw;
  font-size: 30px;
  border-bottom: solid #cccccc 2px;
  text-align: center;
}

.regist tr {
  /* tdと高さ合わせる */
  display: flex;
  align-items: stretch;
}

tr+tr {
  border-top: 1px solid #cccccc;
}

th {
  border-right: 1px solid #cccccc;
}

table {
  border: 1px solid #cccccc;
  max-width: 1000px;
}

.regist th {
  white-space: nowrap;
  background-color: #eaf1fb;
  text-align: center;
  min-width: 200px;
  height: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regist td {
  text-align: left;
  padding: 5%;
  white-space: nowrap;
  font-size: 16px;
  width: 80%;
  gap: 30px;
}

/* プレースホルダーの中 */
.form-control,
.form-select {
  /* margin: 10px 0; */
  font-size: 16px;
  opacity: 1;
  color: black;
  height: 35px;
}

.form-select {
  color: black;
  opacity: 1;
}

option {
  color: black;
}

/* プレースホルダーの色 */
.form-control::placeholder {
  color: gray;
}

.form-select::placeholder {
  color: gray;
}

textarea.form-control {
  height: auto;
}

.bottombtn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check label {
  font-size: 16px;
}

.submit-confirm {
  margin: 20px;
}

.bottombtn input,
.bottombtn a {

  width: 20%;
}

@media screen and (max-width:590px) {
  .bottombtn {
    margin-top: 10vw;
  }

  .form-check {
    margin-top: 10vw;
  }


}

/* 確認画面.リセット.戻るボタン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
input.btn,
button.btn {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 0rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  max-width: 160px;
}

.btn--orange,
a.btn--orange,
button.btn--orange,
input.btn--orange {
  color: #fff;
  background-color: #eb6100;
  font-size: 16px;
}

.btn--gray,
a.btn--gray,
input.btn--gray {
  color: #fff;
  background-color: gray;
  font-size: 16px;
}

.btn--blue,
a.btn--blue,
input.btn--blue {
  color: #333;
  border: solid 1px skyblue;
  font-size: 16px;
}

.btn--orange:hover,
a.btn--orange:hover,
button.btn--orange:hover,
input.btn--orange:hover {
  color: #fff;
  background-color: orangered;
}

.btn--blue:hover,
a.btn--blue:hover,
input.btn--blue:hover {
  color: white;
  background-color: skyblue;
}

.btn--gray:hover,
a.btn--gray:hover,
input.btn--gray:hover {
  color: #fff;
  background: darkgrey;
}

a.btn--radius,
button.btn--radius,
input.btn--radius {
  border-radius: 50px;
  width: 160px;
}


/* テーブルタイトル */
.textfield {
  display: flex;
  gap: 1vh;
}

.textfield p {
  padding-bottom: 10px;
}

/* 生年月日 */
.birthday input,
.workday select {
  font-size: 16px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 0.375rem;
  padding: 1% 10%;
  height: 35px;
}

/* 電話番号 */
.tel,
.tel2,
.tel3 {
  width: 100px;
}

.telfield p {
  display: flex;
  align-items: center;
  font-size: 10px;
}

/* 性別　ラジオ */
.ledy {
  margin-left: 3vw;
}


text {
  color: black;
}

/* checkbox radio共通 ボタン消去・生成、色付け  */
input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  vertical-align: -0.8rem;
  transition: all .15s ease-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  outline: none;
  border-radius: 10%;
}

/* Checkbox */
input[type=checkbox] {
  margin-right: 1rem;
}

input[type=checkbox]:before, input[type=checkbox]:after {
  position: absolute;
  content: "";
  background: #fff;
  transition: all .2s ease-in-out;
}

input[type=checkbox]:before {
  left: 2px;
  top: 6px;
  width: 0;
  height: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

input[type=checkbox]:after {
  right: 9px;
  bottom: 3px;
  width: 2px;
  height: 0;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transition-delay: .2s;
}

input[type=checkbox]:checked:before {
  left: 1px;
  top: 10px;
  width: 6px;
  height: 2px;
}

input[type=checkbox]:checked:after {
  right: 5px;
  bottom: 1px;
  width: 2px;
  height: 14px;
}

input[type=checkbox]:indeterminate:before, input[type=checkbox]:indeterminate:after {
  width: 7px;
  height: 2px;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

input[type=checkbox]:indeterminate:before {
  left: 1px;
  top: 7px;
}

input[type=checkbox]:indeterminate:after {
  right: 1px;
  bottom: 7px;
}

/* Radio */
input[type=radio] {
  border-radius: 50%;
  margin: 0.4rem;
}

input[type=radio]:checked:before {
  transform: scale(1);
}

input[type=radio]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  transform: scale(0);
  transition: all ease-out 250ms;
}

/* orange */
input[type=checkbox].orange, input[type=radio].orange {
  border: 2px solid #eb6100;
}

input[type=checkbox].orange:checked, input[type=checkbox].orange:indeterminate, input[type=radio].orange:checked:before {
  background: #eb6100;
}

/* table用 */
table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

table th, table td {
  padding: 17px;

}

/* チェックボックス - checkbox　ラジオボタン - radio サイズ */
.size1 {
  transform: scale(0.75);
}

.size2 {
  transform: scale(1.0);
}

.size3 {
  transform: scale(1.5);
}

.formbtn-clear {
  margin: 2vw 0;
  width: 45%;
}

.formbtn {
  margin: 0 auto;
}

/* 登録フォームSP */

@media screen and (max-width:590px) {
  .regist {
    max-width: 93%;

  }

  th {
    border-right: none;
  }

  .regist th {
    display: flex;
    justify-content: space-between;
  }

  .regist tr,
  .regist td {
    display: block;
    text-align: left;
    min-width: auto;
  }

  .regist td {
    width: 90%;
    margin: 0 auto;
  }

  .textfield {

    gap: 7px;
    display: flex;
    width: 95%;
    margin: 0 auto;
  }

  .textfield.prefecturefield {
    flex-direction: column;
  }

  .prefecturefield div:nth-child(2) {
    margin-top: 20px;
  }

  .textfield.birthday,
  .textfield.workday {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .gender.genderfield {
    display: flex;
    justify-content: center;
  }

  .textfield.gender {
    gap: 40px;
    display: flex;
    justify-content: center;
  }

  .regist td {
    padding: 8% 0;
  }

  .prefecture {
    width: 50%;
  }

  input.btn--blue {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    width: 100%;

  }

  a.btn--blue,
  input.btn--orange {
    width: 45%;
    font-size: 16px;
    margin: 0;
  }

  .tel, .tel2, .tel3 {
    width: 30%;
  }

  .form-control {
    padding: 1% 2%;
    height: 35px;
  }

  .confirm table {
    max-width: 93%;
  }

  .formbtn {

    margin-top: 5vw;
  }

  /* 確認フォームのボタンの幅 */
  .bottombtn .bottombtn-position {
    width: 45%;
  }

  /* 確認フォームのボタンの幅 */
  .btn--blue.position,
  .btn--orange.position {
    width: 100%;
  }
}


/* 登録確認フォーム */
.confirm {
  text-align: center;
}

.confirm .textfield {
  white-space: pre-wrap;
  word-wrap: break-word;

}

.confirm table {
  max-width: 93%;
}

.confirm-text {
  padding: 5%;
  font-size: 20px;
}

.bottombtn {
  display: flex;
  justify-content: center;
  padding-top: 11vw;
  gap: 20px;

}

.personallink {
  border-bottom: solid 1px #222;
}

.form-title {
  padding-top: 20%;
}




/* 登録完了画面 */

.completebtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.completemsg {
  margin-top: 4vw;
  text-align: center;
  font-size: 30px;
}

/* エラー */
.form-invalid {
  color: red;
  font-size: 16px;
}

.input-invalid {
  border-color: #f0908d;
  box-shadow: 0.5px 0.5px 3px 0.5px #f0908d;
}

@media screen and (max-width:590px) {
  .err-msg-workday {
    text-align: center;
  }
}


/* 必須項目 */
.required {
  color: white;
  font-weight: bold;
  background-color: #eb6100;
  padding: 2px 10px;
  border-radius: 100px;
  font-size: 12px;
  margin-left: 10px;
}